PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=festival
DB_SYNC=true
DB_ALTER=false

CORS_ORIGIN=*
FRONTEND_URL=http://localhost:5500
SESSION_DURATION_MINUTES=120
QR_OUTPUT_DIR=./qr-codes

JWT_SECRET=
ADMIN_ID=admin
ADMIN_PASSWORD=

TABLE_COUNT=20
